@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', san-serif;
    font-size: 1rem;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(0, 0, 0, .6);
    background-image: url("images/T1bg.png");
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    padding-bottom: 20px;
    color: lightgray;
}

nav ul {
    margin: 0;
    list-style: none;
}

nav a:hover {
    background-color: white;
    color: black;
    border-radius: 10px;
    transform: rotateX(360deg);
}

nav ul li{
    display: inline;
}

nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
    transition: 1s;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid lightgray;
}

.main-nav li {
    padding: 0 5%;
}

.SKT {
    text-align: center;
    font-size: 3em;
    margin: 0;
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    color: white;
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.1em;
}

.section-header {
    font-weight: normal;
    color: black;
    font-family: 'Bebas Neue', cursive;
    font-size: 2.7em;
    text-align: center;
    margin: 0.8em;
}

.about-img-sktlogo {
    border-radius: 1em;
    float: left;
    height: 200px;
    margin: 1em;
    border-radius: 50%;
}

.main-footer {
    background-color: black;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.main-footer-container li {
    display: inline-block;
    margin: 0 5%;
}

.footer-nav {
    padding: 0 5em;
}

.footer-nav img {
    width: 30px;
    height: 30px;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .50em;
    cursor: pointer;
}

.btn-header {
    margin: 15px auto;
    display: block;
    border-radius: 0;
    border-color: white;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 1.5em;
    padding: 0 2em 0 2em;
}

.btn-header:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.btn-play {
    display: block;
    margin: 0 auto;
    padding: 0;
    border-radius: 50%;
    font-size: 2em;
    width: 100px;
    height: 100px;
}

.tour-row {
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.tour-row:last-child {
    border-bottom: none;
}

.tour-item {
    display: inline-block;
    padding-right: .5em;
}

.tour-date {
    color: #555;
    font-weight: bold;
    width:30%;
}

.tour-area {
    width: 47%;
}

.tour-btn {
    max-width: 20%;
    border: none;
    background-color: rgb(251, 255, 42);
    color: black;
    border-radius: 5px;
    font-weight: bold;
}

.tour-btn:hover {
    background-color: rgba(251, 255, 42, 0.5);

}

.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block;
    font-weight: bold;
    color: black;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;

}

.shop-item-img {
    width: 200px;
}

.shop-item-detail {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    font-weight: bold;
    color: black;
}

.shop-item-btn {
    max-width: 100%;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 1.2em;
}

.cart-column {
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 5px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 35%;
}

.cart-price {
    width: 20%;
    font-size: 1.1em;
}

.cart-quantity {
    width: 45%;
}

.cart-item-title {
    margin: 0.5em;
    color: black;
    font-size: 1.1em;
}

.cart-item-img {
    width: 75px;
    height: auto;
}

.cart-item-btn {
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.cart-item-btn:hover {
    background-color: rgba(255, 0, 0, 0.5);
}

.cart-item-input {
    height: 35px;
    width: 35px;
    border-radius: 5px;
    border: 1px solid;
    padding: 0;
    text-align: center;
    font-size: 1.1em;
    margin: 5px;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 40px;
}

.cart-total-title {
    margin-right: 25px;
    font-weight: bold;
    font-size: 1.5em;

}

.cart-total-price {
    font-size: 1.1em;
}

.cart-total-btn {
    display: block;
    margin: 10px auto;
    margin-bottom: 30px;
}